<!-- Menu overlay -->
<div id="menu-overlay" class="w-100 h-100 position-absolute d-none" (click)="toggleMenuOverlay()">
  <!-- Menu -->
  <ul class="list-group position-absolute" id="menu-list">
    <li class="list-group-item py-1 small rounded cursor-pointer mb-2">Add subplan</li>
    <li class="list-group-item py-1 small rounded cursor-pointer mb-2">Edit</li>
    <li class="list-group-item py-1 small rounded cursor-pointer">Delete</li>
  </ul>
</div>
<div id="detail-box-overlay" class="position-absolute" (click)="closeDetailBox()"></div>
<div class="h-100 position-fixed" id="detail-box">
  <button class="position-absolute top-0 end-0 pt-2 pe-3 border-0 bg-transparent text-light"
    (click)="closeDetailBox()">&times;
  </button>
  <!-- Display plan if there is any plan on current date -->
  <div *ngIf="planDate" class="p-4 h-100">
    <!-- Date -->
    <h5 class="mb-5 fw-light">
      <img class="me-4" src="assets/img/logo-icon-with-bg-light.png" width="50" alt="image of the planify logo">
      {{dateString}}
    </h5>
    <div class="d-flex align-items-center mb-3">
      <p class="mb-0">{{planDate.planCount}} item(s)</p>
      <!-- Dropdown menu to filter plans -->
      <select (change)="filterPlans()" class="form-select form-select-sm ms-auto" id="plan-category">
        <option value="all" selected>All</option>
        <option value="done">Done</option>
        <option value="undone">Not done</option>
      </select>
    </div>
    <!-- Plan container -->
    <div class="position-relative" id="plan-list-container">
      <!-- When there is no plan on current date -->
      <div *ngIf="planDate.plans.length == 0" class="p-5 shadow-5 rounded text-center no-plan-div">
        <p class="mb-0 small fw-light">There is no plan on this day.</p>
      </div>
      <ul class="list-group shadow-5 plans-container">
        <!-- Different class depending on the progress -->
        <li class="list-group-item plans-container-items border-0 p-0"
          [ngClass]="plan.progress == 100 ? 'done bg-yellow-muted' : 'undone'"
          *ngFor="let plan of planDate.plans; let i = index;">
          <div class="px-3 pt-3 pb-1 d-flex align-items-center">
            <div class="me-2">
              <!-- Isdone checkbox -->
              <input mdbCheckbox class="form-check-input mt-1" type="checkbox" id="plan-checkbox-{{i}}" value=""
                aria-label="..." [checked]="plan.progress == 100" (change)="updateMainPlan($event, i)" />
            </div>
            <span>{{plan.title}}</span>
            <i *ngIf="plan.subPlans.length > 0" class="fas fa-chevron-left ms-auto" id="arrow-{{i}}"
              (click)="expandPlan(i)"></i>
          </div>
          <p class="mb-1 priority-text fw-light px-3">PRIORITY:
            <span class="fw-normal"
              [ngClass]="['text-success', 'text-warning', 'text-danger'][plan.priority - 1]">{{['LOW', 'MID',
              'HIGH'][plan.priority - 1]}}</span>
          </p>
          <!-- Plan description -->
          <div class="plan-description fw-lighter ps-3 pe-4 pb-3 position-relative">
            {{plan.description}}
            <!-- Menu button -->
            <button id="btn-menu-{{i}}" class="small position-absolute btn-menu text-muted bg-transparent border-0"
              (click)="toggleMenu(i)">
              <i class="fas fa-ellipsis-v fa-xs"></i>
            </button>
          </div>
          <!-- Progress bar -->
          <div class="progress" id="progress-{{i}}" style="height: 20px">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': plan.progress + '%'}" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              {{plan.progress}}%
            </div>
          </div>
          <!-- If the plan contains any subplan -->
          <ng-container *ngIf="plan.subPlans.length > 0">
            <ul class="list-group rounded-0 sub-plans-container" id="plan-{{i}}">
              <li class="d-flex align-items-center list-group-item border-start-0 border-end-0 fw-light"
                *ngFor="let sp of plan.subPlans; let subIndex = index">
                <input mdbCheckbox class="form-check-input mt-0 me-2" type="checkbox" id="" value=""
                  [checked]="sp.isDone" (change)="updateSubPlan($event, i, subIndex)" />
                {{sp.title}}
                <i (click)="deleteSubPlan(plan, subIndex)" class="fas fa-times fa-xs ms-auto"></i>
              </li>
            </ul>
          </ng-container>
        </li>
      </ul>

      <!-- Add plan button -->
      <a class="add-plan-btn btn btn-sm w-100 position-absolute left-0 end-0 bottom-0"
        href="calendar/addPlan/{{planDate.year}}-{{planDate.month}}-{{planDate.date}}" mdbRipple>
        Add plan
      </a>
    </div>
  </div>
</div>
