/* --------SCROLL BAR STYLE START-------- */
/* width */
ul::-webkit-scrollbar,
#detail-box::-webkit-scrollbar {
  width: 5px;
}

/* Track */
ul::-webkit-scrollbar-track,
#detail-box::-webkit-scrollbar-track {
  background-color: lightgray;
  border-radius: 10px;
}

/* Handle */
ul::-webkit-scrollbar-thumb,
#detail-box::-webkit-scrollbar-thumb {
  background: rgb(157, 157, 157);
  border-radius: 10px;
}

/* Handle on hover */
ul::-webkit-scrollbar-thumb:hover,
#detail-box::-webkit-scrollbar-thumb:hover {
  background: rgb(123, 123, 123);
}
/* --------SCROLL BAR STYLE END-------- */

ul {
  overflow-y: auto;
}

.plans-container {
  height: 68%;
  max-height: 100%;
}

.plans-container li {
  background-color: var(--purple-darkest);
  border-color: var(--purple-gray);
}

.plans-container li .progress-bar {
  background-color: var(--purple-light);
}

/* --------OVERWRITE CHECKBOX STYLE START-------- */
ul .form-check-input {
  border-radius: 50% !important;
  overflow: hidden;
}

ul .form-check-input[type="checkbox"]:checked:after {
  width: 0.2827rem;
  height: 0.6125rem;
  margin-top: 1px;
}

ul .form-check-input:checked {
  background-color: var(--purple-gray);
  border-color: var(--purple-gray);
}
/* --------OVERWRITE CHECKBOX STYLE END-------- */

#detail-box {
  width: var(--detail-box-width); /* DETAILBOX WIDTH */
  min-width: 300px;
  background-color: #3b2e5f;
  color: var(--purple-lightest);
}

#plan-category {
  width: fit-content;
}

/* .sub-plans-container li {
  background-color: rgb(247, 247, 247);
} */

.sub-plans-container {
  max-height: 0;
  overflow-y: auto;
  transition: 0.5s;
}

.sub-plans-container.opened {
  max-height: 150px;
  transition: 0.5s;
}

.btn-menu {
  right: 16px;
  bottom: 10px;
}

ul.menu-modal {
  right: 33px;
  top: 26px;
  z-index: 5;
  width: 120px;
}

#menu-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.no-plan-div {
  background-color: var(--purple-darkest);
}

.add-plan-btn {
  background-color: var(--purple-gray);
  color: var(--gray-lightest);
}

.add-plan-btn:hover {
  background-color: rgba(91, 77, 137, 0.7);
}

.priority-text {
  font-size: 11px;
}
