#calendar-table {
  table-layout: fixed;
  height: 600px;
  background-color: #3a2e5e;
  border-color: #403763;
  color: #9d92c5;
}

#month-title i {
  font-size: 25px;
}

#calendar-table thead tr {
  background-color: var(--purple-dark);
  height: 20px;
}

#calendar-table td {
  height: 100px;
}

td.hover:hover {
  background-color: rgba(220, 220, 220, 0.245);
  cursor: pointer;
}

td.selected {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Hide scrollbar for IE, Edge and Firefox */
.plan-list {
  list-style: inside;
  height: 55px;
  overflow-y: auto;
  display: block;
  border-radius: 0;
  max-height: 60px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.plan-list::-webkit-scrollbar {
  display: none;
}

.date-plan {
  color: var(--purple-lightest);
}

.plan-item.list-group-item {
  min-height: 27px;
  border-color: rgba(0, 0, 0, 0.055);
}

@media screen and (max-width: 768px) {
  #calendar-table td p,
  #calendar-table td a {
    font-size: 11px;
  }
  #calendar-table {
    /* table-layout: fixed; */
    height: auto;
    /* background-color: #3a2e5e; */
    border: none;
    /* color: #9d92c5; */
  }

  #calendar-table tr {
    border: none;
  }

  #calendar-table td {
    border: none;
    height: 55px;
  }

  #calendar-table th {
    border: none;
  }

  #month-title {
    font-size: 25px;
  }

  #month-title i {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  #calendar-table {
    /* table-layout: fixed; */
    height: auto;
    /* background-color: #3a2e5e; */
    border: none;
    /* color: #9d92c5; */
  }

  #calendar-table tr {
    border: none;
  }

  #calendar-table td {
    border: none;
    height: 55px;
  }

  #month-title {
    font-size: 25px;
  }

  #month-title i {
    font-size: 20px;
  }
}
