.mb-error {
  margin-bottom: 32px;
}

.error-message {
  font-size: 12px;
}

.form-check .validate-success.ng-valid.ng-dirty:checked, .form-check .validate-success.ng-valid.ng-touched:checked {
  background-color: #fff;
}
