#add-plan-container {
  padding: 100px 85px;
}

#add-plan-card {
  border-radius: 10px;
}

#btn-save {
  background-color: var(--turquoise);
}

#btn-sub-plan {
  background-color: var(--dark-turquoise);
}

#btn-cancel {
  background-color: var(--yellow);
}
