<div class="modal-header justify-content-center pt-0 px-0">
  <h4 class="modal-title" id="exampleModalLabel">Edit a Sub-plan</h4>
</div>
<!-- edit subplan form -->
<form class="modal-body px-0" id="sub-plan-form" [formGroup]="validationForm"
  (ngSubmit)="submitEditSubPlan(validationForm)">
  <!-- radios -->
  <div class="mb-3">
    <p class="mb-1 fw-normal text-purple-muted">Priority</p>
    <div class="d-flex mb-2 position-relative">
      <!-- radio container -->
      <label class="radio-container fw-light me-3">High
        <input type="radio" id="modal-radioHigh" value="3" [checked]="subPlan.priority == 3" class="mt-1 priority"
          formControlName="modalPriority" required>
        <span class="radio-checkmark"></span>
      </label>

      <label class="radio-container fw-light me-3">Medium
        <input type="radio" id="modal-radioMid" value="2" [checked]="subPlan.priority == 2" class="mt-1 priority"
          formControlName="modalPriority" required>
        <span class="radio-checkmark"></span>
      </label>

      <label class="radio-container fw-light">Low
        <input type="radio" id="modal-radioLow" value="1" [checked]="subPlan.priority == 1" class="mt-1 priority"
          formControlName="modalPriority" required>
        <span class="radio-checkmark"></span>
      </label>

      <!-- checkbox for isDone -->
      <div class="ms-auto">
        <label class="checkbox-container" mdbTooltip="Mark as done" placement="top">
          <input type="checkbox" value="true" formControlName="modalIsDone">
          <span class="checkbox-checkmark"></span>
        </label>
      </div>
      <!-- form control error message -->
      <span class="priority modal-error-msg mt-1">Priority is required.</span>
    </div>
  </div>
  <!-- title -->
  <mdb-form-control class="mb-2">
    <input mdbInput type="text" id="modal-inputTitle" class="title" formControlName="modalTitle"
      placeholder="Plan title" required />
  </mdb-form-control>
  <span class="title modal-error-msg mt-1">Title is required.</span>
  <!-- description -->
  <mdb-form-control>
    <textarea mdbInput type="text" id="modal-inputDesc" rows="4" class="" formControlName="modalDescription"
      placeholder="Description"></textarea>
  </mdb-form-control>
</form>
<!-- button container -->
<div class="modal-footer">
  <button mdbRipple class="btn text-light btn-save" form="sub-plan-form" type="submit">Edit</button>
  <button mdbRipple class="btn text-light btn-delete" form="sub-plan-form" (click)="deleteAndClose()">Delete</button>
  <button mdbRipple class="btn text-light btn-cancel" type="button" (click)="modalRef.close()">
    Cancel
  </button>
</div>
