#plan-cards-container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: var(--light-gray);
}

.plan-card {
  height: fit-content;
}

.option-btn {
  background-color: var(--yellow);
}

.plan-img-container {
  height: 300px;
  background-color: #f3ebe1;
}

.plan-img-container img {
  height: fit-content;
}
