#calendar-table {
  table-layout: fixed;
  height: 600px;
  background-color: #3a2e5e;
  border-color: #5c5182;
  color: #9d92c5;
}

#calendar-table thead tr {
  background-color: var(--purple-dark);
}

td.hover:hover {
  background-color: rgba(220, 220, 220, 0.245);
  cursor: pointer;
}

td.selected {
  background-color: rgba(255, 255, 255, 0.1);
}

.plan-list {
  list-style: inside;
}

/* Hide scrollbar for IE, Edge and Firefox */
.plan-list.list-group {
  display: block;
  border-radius: 0;
  max-height: 60px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.plan-list.list-group::-webkit-scrollbar {
  display: none;
}

.item-count-text {
  cursor: pointer;
  color: var(--purple-lightest);
}

.plan-item.list-group-item {
  min-height: 27px;
  border-color: rgba(0, 0, 0, 0.055);
}

@media screen and (max-width: 768px) {
  #calendar-table td p,
  #calendar-table td a {
    font-size: 11px;
  }
}
