<footer class="bg-dark text-white text-center text-lg-start float-end">
  <!-- Grid container -->
  <div class="container">
    <!--Grid row-->
    <div class="row justify-content-center">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <!-- <h5 class="text-uppercase">Connect with me</h5> -->

        <div class="d-flex justify-content-center mb-3">
          <a href="#!" class="rounded-circle contact-icon">
            <i class="fab fa-linkedin-in text-dark"></i>
          </a>
          <a href="#!" class="rounded-circle contact-icon">
            <i class="fab fa-github-alt text-dark"></i>
          </a>
          <a href="mailto:heesoo474@gmail.com" class="rounded-circle contact-icon">
            <i class="fas fa-envelope text-dark"></i>
          </a>
          <a href="tel:123-345-4353" class="rounded-circle contact-icon">
            <i class="fas fa-phone text-dark"></i>
          </a>
        </div>
        <p class="text-center info-line mb-1">
          <a href="#!" class="text-white">Info</a>
          <span class="text-muted mx-1">•</span>
          <a href="#!" class="text-white">Site Map</a>
        </p>
        <p class="text-center info-line mb-2">
          <a href="#!" class="text-white">Credits</a>
          <span class="text-muted mx-1">•</span>
          <a href="#!" class="text-white">Privacy Policy</a>
        </p>
        <p class="text-white-50 fw-light text-center copyright-line mb-0">© 2020 Heesoo Lim</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
</footer>