<footer class="bg-dark fixed-bottom py-2">
  <p class="mb-0 ms-4 text-muted font-weight-light">
    &copy; 2021 Heesoo Lim
    <!-- <span class="falinks">
      <a href="{{social.linkedin}}">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </a>
      <a href="{{social.github}}">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
      <a href="{{social.email}}">
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
      </a>
      <a href="{{social.twitter}}">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </a>
      <a href="{{social.instagram}}">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </a>
      <a href="{{social.strava}}">
          <fa-icon [icon]="['fab', 'strava']"></fa-icon>
        </a>
    </span> -->
  </p>
</footer>
