<!-- header of the modal -->
<div class="modal-header justify-content-center pt-0 px-0">
  <h4 class="modal-title" id="exampleModalLabel">New Sub-plan</h4>
</div>
<!-- add subplan form -->
<form class="modal-body px-0" id="sub-plan-form" [formGroup]="validationForm"
  (ngSubmit)="submitAddSubPlan(validationForm)">
  <!-- radios -->
  <div class="mb-3">
    <p class="mb-1 fw-normal text-purple-muted">Priority</p>
    <!-- radio container -->
    <div class="d-flex position-relative ms-1">
      <label class="radio-container fw-light me-3">High
        <input type="radio" id="modal-radioHigh" value="3" class="mt-1 priority" formControlName="modalPriority"
          required>
        <span class="radio-checkmark"></span>
      </label>

      <label class="radio-container fw-light me-3">Medium
        <input type="radio" id="modal-radioMid" value="2" class="mt-1 priority" formControlName="modalPriority"
          required>
        <span class="radio-checkmark"></span>
      </label>

      <label class="radio-container fw-light">Low
        <input type="radio" id="modal-radioLow" value="1" class="mt-1 priority" formControlName="modalPriority"
          required>
        <span class="radio-checkmark"></span>
      </label>

      <!-- checkbox for isDone -->
      <div class="ms-auto">
        <!-- <input class="float-end" formControlName="modalIsDone" type="checkbox" value="true" mdbTooltip="Mark as done"
          placement="top" /> -->
        <label class="checkbox-container" mdbTooltip="Mark as done" placement="top">
          <input type="checkbox" value="true" formControlName="modalIsDone">
          <span class="checkbox-checkmark"></span>
        </label>
      </div>
    </div>
    <!-- form control error message -->
    <span class="priority modal-error-msg mt-1">Priority is required.</span>
  </div>
  <!-- title form control -->
  <mdb-form-control class="mb-2">
    <input mdbInput type="text" id="modal-inputTitle" class="title" formControlName="modalTitle"
      placeholder="Plan title" required />
  </mdb-form-control>
  <span class="title modal-error-msg mt-1">Title is required.</span>
  <!-- description form control -->
  <mdb-form-control>
    <textarea mdbInput type="text" id="modal-inputDesc" rows="4" class="" formControlName="modalDescription"
      placeholder="Description"></textarea>
  </mdb-form-control>
</form>
<!-- modal footer -->
<div class="modal-footer pb-0 px-0">
  <button mdbRipple type="submit" class="btn text-light btn-save" form="sub-plan-form">Add</button>
  <button mdbRipple type="button" class="btn text-light btn-save" (click)="modalRef.close()">
    Cancel
  </button>
</div>
