nav {
  transition: 0.5s;
  left: 0;
  font-family: "Red Hat Display", sans-serif;
}

/* when the detail box is opened */
nav.detail-opened {
  transition: 0.5s;
  left: var(--detail-box-width); /* DETAILBOX WIDTH */
}

/* resolve blurry image problem (happens in Chrome unlike Firefox) */
.navbar-brand img {
  image-rendering: -webkit-optimize-contrast;
}
