<div class="w-100 h-100" id="add-plan-container">
  <div class="shadow-5-strong overflow-hidden d-flex" id="add-plan-card">
    <!-- add plan form -->
    <form id="card-form" class="px-5 pb-5 pt-4" [formGroup]="validationForm" (ngSubmit)="submitAddPlan(validationForm)">
      <!-- date string -->
      <h4 class="mb-4 fw-light">{{selectedDateString}}</h4>
      <!-- change class when the form is valid or invalid -->
      <div class="d-flex">
        <div>
          <!-- change the label color -->
          <label class="fw-normal" for="dueDate">Due date</label>
          <!-- due date form control -->
          <mdb-form-control>
            <input mdbInput type="datetime-local" id="dueDate" class="my-0 dueDate" formControlName="dueDate"
              required />
          </mdb-form-control>
          <span class="dueDate error-msg">Due date is required.</span>
        </div>
        <div class="ms-3">
          <!-- change the text color -->
          <p class="mb-1 fw-normal" id="priority-label">Priority</p>
          <!-- radio container -->
          <div class="d-flex position-relative ms-1">
            <!-- radio high -->
            <!-- <div class="mb-1 d-flex">
              <input type="radio" id="radioHigh" value="3" class="mt-1 priority" formControlName="priority" required />
              <label class="fw-light" for="radioHigh">High</label>
            </div> -->

            <label class="priority-container fw-light me-3">High
              <input type="radio" id="radioHigh" value="3" class="mt-1 priority" formControlName="priority" required>
              <span class="checkmark"></span>
            </label>
            <!-- radio medium -->
            <!-- <div class="mb-1 ms-4 d-flex">
              <input type="radio" id="radioMid" value="2" class="mt-1 priority" formControlName="priority" required />
              <label class="fw-light" for="radioMid">Medium</label>
            </div> -->

            <label class="priority-container fw-light me-3">Medium
              <input type="radio" id="radioMid" value="2" class="mt-1 priority" formControlName="priority" required>
              <span class="checkmark"></span>
            </label>
            <!-- radio low -->
            <!-- <div class="mb-1 ms-4 d-flex">
              <input type="radio" id="radioLow" value="1" class="mt-1 priority" formControlName="priority" required />
              <label class="fw-light" for="radioLow">Low</label>
            </div> -->

            <label class="priority-container fw-light">Low
              <input type="radio" id="radioLow" value="1" class="mt-1 priority" formControlName="priority" required>
              <span class="checkmark"></span>
            </label>
          </div>
          <!-- form control error message -->
          <span class="priority error-msg">Priority is required.</span>
        </div>
      </div>
      <!-- title form control -->
      <mdb-form-control>
        <input mdbInput type="text" id="inputTitle" class="title" formControlName="title" placeholder="Plan title"
          required />
      </mdb-form-control>
      <span class="title error-msg">Title is required.</span>
      <!-- description form control -->
      <mdb-form-control>
        <textarea mdbInput type="text" id="inputDesc" rows="4" class="" formControlName="description"
          placeholder="Description"></textarea>
      </mdb-form-control>
      <!-- button container -->
      <div class="px-5 pb-5 pt-3 text-center">
        <button type="submit" class="btn btn-sm text-white fw-light me-4" id="btn-save" mdbRipple>Save</button>
        <button type="button" class="btn btn-sm text-white fw-light me-4" id="btn-sub-plan" (click)="openModal()"
          mdbRipple>Add sub-plan</button>
        <a class="btn btn-sm text-white fw-light" id="btn-cancel" href="/calendar" mdbRipple>Cancel</a>
      </div>
    </form>
    <!-- subplan container -->
    <div class="bg-light flex-grow-1 d-flex">
      <div class="w-50 p-4 border-end">
        <h4 class="mb-4 fw-light text-center p-1">Sub-plans</h4>
        <!-- for loop of subplan -->
        <div *ngFor="let sp of selectedPlan.subPlans; let subIndex = index" (click)="openEditModal(subIndex)"
          class="sub-plan-item shadow-3 p-3 bg-white rounded border mb-3 text-break">
          <!-- subplan title -->
          <h6 class="d-flex align-items-center">
            <i class="fas fa-exclamation me-2"
              [ngClass]="['text-success', 'text-warning', 'text-danger'][sp.priority - 1]"></i>
            <span [ngClass]="sp.isDone ? 'text-decoration-line-through' : ''">{{sp.title}}</span>
            <i (click)="deleteSubPlan(subIndex)" class="fas fa-times fa-xs ms-auto"></i>
          </h6>
          <!-- subplan description -->
          <p *ngIf="sp.description != ''" class="mb-0 mt-2">{{sp.description}}</p>
        </div>
      </div>
      <!-- other date plan container -->
      <div class="w-50 p-4">
        <h4 class="mb-4 fw-light text-center d-flex justify-content-between align-items-center">
          <i class="fas fa-chevron-left" (click)="changeDate(false)"></i>
          <span class="border shadow-sm p-1 rounded cursor-pointer"
            (click)="navigateToOtherDate()">{{otherDateString}}</span>
          <i class="fas fa-chevron-right" (click)="changeDate(true)"></i>
        </h4>
        <!-- other date plans -->
        <ng-container *ngIf="otherPlan.plans.length > 0; else elseTemplate">
          <div *ngFor="let plan of otherPlan.plans" class="rounded shadow overflow-hidden mb-3">
            <!-- main plan container -->
            <div class="p-3 bg-warning">
              <!-- other plan title -->
              <h6 class="mb-2">
                <i class="fas fa-exclamation me-2"
                  [ngClass]="['text-success', 'text-warning', 'text-danger'][plan.priority - 1]">
                </i>
                <span [ngClass]="plan.progress == 100 ? 'text-decoration-line-through' : ''">{{plan.title}}</span>
              </h6>
              <!-- other plan description -->
              <p class="mb-0">
                {{plan.description}}
              </p>
            </div>
            <!-- subplan container -->
            <div *ngFor="let sp of plan.subPlans" class="p-3 border-bottom">
              <!-- other plan title -->
              <h6 class="mb-0"><i class="fas fa-exclamation me-2"
                  [ngClass]="['text-success', 'text-warning', 'text-danger'][sp.priority - 1]">
                </i>
                <span [ngClass]="sp.isDone ? 'text-decoration-line-through' : ''">{{sp.title}}</span>
              </h6>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <p class="mb-0 h-100 d-flex align-items-center justify-content-center">There is no plan on this day.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
