<div class="w-100 h-100" id="add-plan-container">
  <div class="shadow-5-strong overflow-hidden d-flex" id="add-plan-card">
    <!-- add plan form -->
    <form id="card-form" class="px-lg-5 px-4 pb-5 pt-4" [formGroup]="validationForm"
      (ngSubmit)="submitAddPlan(validationForm)">
      <!-- date string -->
      <h4 class="mb-4">{{selectedDateString}}</h4>
      <div class="d-lg-flex flex-row-reverse">
        <div class="ms-lg-3">
          <p class="mb-1 fw-normal">Priority</p>
          <!-- radio container -->
          <div class="d-flex position-relative ms-1">

            <label class="priority-container fw-light me-3">High
              <input type="radio" id="radioHigh" value="3" class="mt-1 priority" formControlName="priority" required>
              <span class="checkmark"></span>
            </label>

            <label class="priority-container fw-light me-3">Medium
              <input type="radio" id="radioMid" value="2" class="mt-1 priority" formControlName="priority" required>
              <span class="checkmark"></span>
            </label>

            <label class="priority-container fw-light">Low
              <input type="radio" id="radioLow" value="1" class="mt-1 priority" formControlName="priority" required>
              <span class="checkmark"></span>
            </label>
          </div>
          <!-- form control error message -->
          <span class="priority error-msg mt-1">Priority is required.</span>
        </div>
        <div class="mt-2 mt-lg-0">
          <!-- change the label color -->
          <p class="fw-normal mb-1">Due date</p>
          <!-- due date form control -->
          <mdb-form-control>
            <input mdbInput type="datetime-local" id="dueDate" class="my-0 dueDate" formControlName="dueDate"
              required />
          </mdb-form-control>
          <span class="dueDate error-msg mt-1">Due date is required.</span>
        </div>
      </div>

      <!-- title form control -->
      <mdb-form-control>
        <input mdbInput type="text" id="inputTitle" class="title" formControlName="title" placeholder="Plan title"
          required />
      </mdb-form-control>
      <span class="title error-msg mt-1">Title is required.</span>
      <!-- description form control -->
      <mdb-form-control>
        <textarea mdbInput type="text" id="inputDesc" rows="4" class="" formControlName="description"
          placeholder="Description"></textarea>
      </mdb-form-control>
      <!-- subplan container -->
      <p class="mb-1 mt-3 fw-normal">Sub-plans</p>

      <div *ngIf="selectedPlan.subPlans.length > 0; else emptySubplan">
        <!-- for loop of subplan -->
        <div *ngFor="let sp of selectedPlan.subPlans; let subIndex = index" (click)="openEditModal(subIndex)"
          class="sub-plan-item shadow-3 p-3 rounded mb-3 fw-light text-break">
          <!-- subplan title -->
          <h6 class="d-flex align-items-center mb-1 fw-light text-light">
            <span [ngClass]="sp.isDone ? 'text-decoration-line-through' : ''">{{sp.title}}</span>
            <i (click)="deleteSubPlan(subIndex)" class="fas fa-times fa-xs ms-auto"></i>
          </h6>
          <p class="priority-text fw-light mb-0 text-light">
            PRIORITY:
            <span class="fw-normal" [ngClass]="['text-success', 'text-warning', 'text-danger'][sp.priority - 1]">
              {{['LOW','MID', 'HIGH'][sp.priority - 1]}}
            </span>
          </p>
          <!-- subplan description -->
          <p *ngIf="sp.description != ''" class="mb-0 fw-light small text-purple-muted">{{sp.description}}
          </p>
        </div>
      </div>
      <ng-template #emptySubplan>
        <div class="rounded d-flex justify-content-center py-5 empty-subplan-container fw-light small">
          There is no sub-plan.
        </div>
      </ng-template>

      <!-- button container -->
      <div class="pt-5 d-lg-flex">
        <button type="submit" class="btn btn-sm text-white fw-light w-100 py-2 mt-2 me-3" id="btn-save"
          mdbRipple>Save</button>
        <button type="button" class="btn btn-sm text-white fw-light w-100 py-2 mt-2 me-3" id="btn-sub-plan"
          (click)="openModal()" mdbRipple>Add sub-plan</button>
        <a class="btn btn-sm text-white fw-light w-100 py-2 mt-2" id="btn-cancel" href="/calendar" mdbRipple>Cancel</a>
      </div>
    </form>
    <!-- other date plan container -->
    <div class="w-100 p-4 other-plan-container">
      <span class="d-block text-center small fw-light mb-1">Other plans on</span>
      <h4 class="mb-4 text-center d-flex justify-content-between align-items-center">
        <i class="fas fa-chevron-left" (click)="changeDate(false)"></i>
        <span class="shadow-sm p-1 rounded cursor-pointer" (click)="navigateToOtherDate()"
          mdbTooltip="Add plan on this day" placement="top">
          {{otherDateString}}
        </span>
        <i class="fas fa-chevron-right" (click)="changeDate(true)"></i>
      </h4>
      <!-- other date plans -->
      <ng-container *ngIf="otherPlan.planCount > 0; else elseTemplate">
        <div *ngFor="let plan of otherPlan.plans" class="rounded shadow overflow-hidden mb-3">
          <!-- main plan container -->
          <div class="p-3 other-plan-item">
            <!-- other plan title -->
            <h6 class="d-flex align-items-center mb-1 fw-light text-light">
              <span [ngClass]="plan.progress == 100 ? 'text-decoration-line-through' : ''">{{plan.title}}</span>
            </h6>
            <p class="priority-text fw-light mb-0 text-light">
              PRIORITY:
              <span class="fw-normal" [ngClass]="['text-success', 'text-warning', 'text-danger'][plan.priority - 1]">
                {{['LOW','MID', 'HIGH'][plan.priority - 1]}}
              </span>
            </p>
            <!-- other plan description -->
            <p *ngIf="plan.description != ''" class="mb-0 fw-light small text-purple-muted">
              {{plan.description}}</p>
          </div>
          <!-- subplan container -->
          <div *ngFor="let sp of plan.subPlans" class="p-3 other-sub-plan-item">
            <!-- other plan title -->
            <h6 class="mb-0"><i class="fas fa-exclamation me-2"
                [ngClass]="['text-success', 'text-warning', 'text-danger'][sp.priority - 1]">
              </i>
              <span [ngClass]="sp.isDone ? 'text-decoration-line-through' : ''">{{sp.title}}</span>
            </h6>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <p class="mb-0 py-5 fw-light text-center">There is no plan on this day.</p>
      </ng-template>
    </div>
  </div>
</div>
