#calendar-wrapper {
  padding: 85px 55px 65px 55px;
  background-image: url("/assets/img/dots_texture.jpg");
  background-size: cover;
  color: var(--purple-lightest);
  background-attachment: fixed;
}

#calendar {
  width: 100%;
  max-width: 1000px;
}

#calendar-wrapper.detail-closed {
  width: 100%;
  transition: 0.5s;
}

#calendar-wrapper.detail-opened {
  width: var(--detail-box-rest-width); /* DETAILBOX WIDTH */
  transition: 0.5s;
}
