<div class="h-100 w-100 d-flex" id="calendar-page-wrapper">
  <!-- Pass the planDate and dateString value -->
  <app-detail-box class="" [planDateFromCal]=planDate [dateStringFromCal]=dateString
    [shortDateStringFromCal]=shortDateString></app-detail-box>
  <div class="d-flex justify-content-center" id="calendar-wrapper">
    <div id="calendar">
      <!-- Emit the event -->
      <app-monthly-calendar [paramYear]="paramYear" [paramMonth]="paramMonth" (changeMonthEmitter)="getChangedMonth($event)" (planEmitter)="getPlanDate($event)"></app-monthly-calendar>
      <div class="position-fixed px-4 py-2 rounded-pill small fw-light d-md-block d-none" id="change-date-btn" (click)="toggleChageMonthBtnSelected()">
        <span id="change-month-text">Change Month</span>
        <ul class="mb-0 ps-0 justify-content-between" id="change-month-list">
          <li *ngFor="let month of months" class="d-inline-block w-100 text-center" [ngClass]="month.isSelected ? 'selected-month rounded-pill' : 'fw-light'">
            <a href="{{month.link}}">{{month.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
