<!-- <p *ngFor="let d of data" >
  [{{d.username}}] : {{d.firstName}}
</p> -->
<!-- <div id="hero-layer" class="position-absolute top-0 start-0 w-100 vh-100">
  <img class="h-100" id="hero-img" src="assets\img\rain-forest-purple.jpg" alt="">
</div> -->
<div class="w-100 vh-100 d-flex align-items-center" id="home-wrapper">
  <div class="row justify-content-end w-100 mx-0">
    <div id="hero-bg-half" class="col-lg-5 col-sm-8 d-flex align-items-center justify-content-center">
      <div class="">
        <h1 class="fw-light">
          Hello, {{data[0]?.firstName}}
        </h1>
        <h4 class="fw-lighter">Ready to start your plan?</h4>
        <a href="#" class="btn btn-lg font-weight-light mt-4" id="hero-button" mdbRipple>Build Plan</a>
      </div>
    </div>
  </div>
</div>
