<!-- <p *ngFor="let d of data" >
  [{{d.username}}] : {{d.firstName}}
</p> -->
<!-- <button class="btn btn-primary" mdbRipple>btn in li</button> -->
<div id="hero-layer" class="position-absolute top-0 start-0 w-100 vh-100">
  <img class="h-100" id="hero-img" src="assets\img\rain-forest-purple.jpg" alt="">
</div>

<div id="hero-bg-half" class="position-absolute top-0 end-0 vh-100 d-flex flex-column align-items-center">
  <h1 class="fw-light">
    Hello, {{data[0]?.firstName}}
  </h1>
  <h4 class="fw-lighter">Ready to start your plan?</h4>
  <a href="#" class="btn btn-lg font-weight-light mt-4" id="hero-button" mdbRipple>Build Plan</a>
</div>

<!-- <div class="vh-100" id="hero-content">

</div> -->