<!-- <p *ngFor="let d of data" >
  [{{d.username}}] : {{d.firstName}}
</p> -->
<!-- <button class="btn btn-primary" mdbRipple>btn in li</button> -->
<div id="hero-layer" class="position-absolute top-0 start-0 w-100 vh-100">
  <img class="w-100" id="hero-img" src="assets/img/bg.jpg" alt="">
</div>

<div class="vh-100 d-flex flex-column" id="hero-content">
  <h1>
    Hello, {{data[0]?.firstName}}
  </h1>
  <h4>Ready to start your plan?</h4>
  <a href="buildPlan" class="btn btn-lg font-weight-light mt-4" id="hero-button" mdbRipple>Build Plan</a>
</div>

<!-- <mdb-form-control>
  <input mdbInput type="text" id="form1" class="form-control" />
  <label mdbLabel class="form-label" for="form1">Example label</label>
</mdb-form-control> -->


<!-- <app-worktimeline [workInfo]="workInfo" id="work"></app-worktimeline>
<app-educationtimeline [education]="education" id="education"></app-educationtimeline>
<app-skills [skills]="skills" id="skills"></app-skills>
<app-recognition [awards]="awards" id="recognition"></app-recognition> -->
