/* #hero-img {
  opacity: .3;
} */

#home-wrapper {
  background-image: url("/assets/img/rain-forest-purple.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  padding: 0;
}

#hero-layer {
  z-index: -2;
  overflow: hidden;
}

#hero-bg-half {
  background-color: var(--purple-dark);
  height: 100vh;
  padding: 90px 0;
}

#hero-bg-half h1,
#hero-bg-half h4 {
  color: var(--purple-lightest);
}

#hero-button {
  background-color: var(--purple-blue);
  color: white;
  width: fit-content;
}

@media screen and (max-width: 576px) {
  #hero-bg-half {
    height: 30%;
  }

  /* #home-wrapper {
    padding: 50px 0;
  } */
}
